# Byte-compiled files
__pycache__/
*.pyc

# Packaging
*.egg
*.egg-info
*.eggs
build
dist
_version.py

# Unit test
.cache/
.tox/
.coverage*
htmlcov
.pytest*
.mypy*

#logging
logs/
*.log*

# save datas form undoredo manager
pickles/
*.pickle
*.json