<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Merriweather</string>
    <key>styleName</key>
    <string>Light</string>
    <key>copyright</key>
    <string>Merriweather is a medium contrast semi condesed typeface designed to be readable at very small sizes. Merriweather is traditional in feeling despite a the modern shapes it has adopted for screens. </string>
    <key>trademark</key>
    <string>Merriweather is a trademark of Sorkin Type Co.</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>xHeight</key>
    <integer>1119</integer>
    <key>capHeight</key>
    <integer>1553</integer>
    <key>ascender</key>
    <integer>1638</integer>
    <key>descender</key>
    <integer>-410</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>note</key>
    <string></string>
    <key>openTypeHeadCreated</key>
    <string>2011/07/29 15:37:46</string>
    <key>openTypeHheaAscender</key>
    <integer>1920</integer>
    <key>openTypeHheaDescender</key>
    <integer>-640</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Eben Sorkin ( eben@eyebytes.com )</string>
    <key>openTypeNameDesignerURL</key>
    <string>sorkintype.com</string>
    <key>openTypeNameManufacturer</key>
    <string>Sorkin Type Co.</string>
    <key>openTypeNameManufacturerURL</key>
    <string>sorkintype.com</string>
    <key>openTypeNameLicense</key>
    <string>Copyright (c) 2010 by Eben Sorkin (eben@eyebytes.com), with Reserved Font Name Merriweather. ÊLicenced under the SIL Open Font License, Version 1.1, available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&amp;id=OFL</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.003</string>
    <key>openTypeNameUniqueID</key>
    <string>SorkinTypeCo.: Merriweather Light: 2011</string>
    <key>openTypeNameDescription</key>
    <string>Merriweather is a medium contrast semi condesed typeface designed to be readable at very small sizes. Merriweather is traditional in feeling despite a the modern shapes it has adopted for screens. </string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>6</integer>
      <integer>5</integer>
      <integer>3</integer>
      <integer>5</integer>
      <integer>4</integer>
      <integer>6</integer>
      <integer>3</integer>
      <integer>7</integer>
      <integer>4</integer>
    </array>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>250</integer>
    <key>openTypeOS2VendorID</key>
    <string>STC</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>3</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>1920</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-640</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1920</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>640</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>2937</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>2726</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>588</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>2937</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>2726</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>2001</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>111</integer>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>798</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>5</integer>
      <integer>7</integer>
      <integer>31</integer>
      <integer>60</integer>
      <integer>62</integer>
    </array>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>postscriptFontName</key>
    <string>Merriweather-Light</string>
    <key>postscriptFullName</key>
    <string>Merriweather Light</string>
    <key>postscriptWeightName</key>
    <string>Normal</string>
    <key>postscriptUnderlineThickness</key>
    <integer>112</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-136</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-29</integer>
      <integer>0</integer>
      <integer>1119</integer>
      <integer>1153</integer>
      <integer>1553</integer>
      <integer>1567</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-531</integer>
      <integer>-511</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>67</integer>
      <integer>76</integer>
      <integer>83</integer>
      <integer>104</integer>
    </array>
  </dict>
</plist>
